.container {
  width: clamp(320px, 60%, 960px);
  padding: 2rem;
  margin: 0 auto;
  border: 1px solid var(--color-border);
  border-radius: 0.75rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

h1 {
  margin-bottom: 1rem;
}

.form-group:not(.checkbox) {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.form-group.checkbox {
  margin: 0.5rem 0;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

input {
  padding: 0.25rem;
  border: 1px solid var(--color-border);
  border-radius: 8px;
}

button {
  display: inline-block;
  padding: 0.5em 1em;
  font-size: 1rem;
  background-color: var(--color-surface);
  border: 1px solid var(--color-border);
  border: none;
  border-radius: 0.75rem;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
}
