<div class="container">
  <h1>Sign In</h1>
  <form action="/signin" method="POST">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" id="username" name="username" />
    </div>
    <div class="form-group">
      <label for="text">Password</label>
      <input type="text" id="password" name="password" />
    </div>
    <div class="buttons-container">
      <a href="/" class="button">Back</a>
      <button type="submit">Sign In</button>
    </div>
  </form>
</div>
