<div class="container">
  <h1>Sign Up</h1>
  <form action="/signup" method="POST">
    <div class="form-group">
      <label for="first-name">First Name</label>
      <input type="text" id="first-name" name="first_name" />
    </div>
    <div class="form-group">
      <label for="last-name">Last Name</label>
      <input type="text" id="last-name" name="last_name" />
    </div>
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" id="username" name="username" />
    </div>
    <div class="form-group">
      <label for="text">Password</label>
      <input type="text" id="password" name="password" />
    </div>
    <div class="form-group">
      <label for="confirm-password">Confirm Password</label>
      <input type="text" id="confirm-password" name="confirm_password" />
    </div>
    <div>
      <a href="/" class="button">Back</a>
      <button type="submit">Sign Up</button>
    </div>
  </form>
</div>
